<?xml version="1.0"?>
<config>
    <sections>
        <mgeasytrackers translate="label">
			<label>Easy Trackers (by mandagreen.com)</label>
			<tab>general</tab>
			<sort_order>500</sort_order>
			<show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
		
            <groups>
                <sale translate="label comment" module="mgeasytrackers">
                    <label>Sale Page</label>
                    <comment><![CDATA[<div style="max-width: 600px; background: #fff; padding: 5px; border: 1px solid #ddd; font-size: 12px; line-height: 14px;"></div>]]></comment>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <trackers translate="label comment">
                            <label>Trackers</label>
                            <comment><![CDATA[]]></comment>
                            <frontend_type>textarea</frontend_type>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </trackers>
                    </fields>
                </sale>
            </groups>
        </mgeasytrackers>
    </sections>
</config>